:root {
  --main-purple-color: #882FF6;
  --main-orange-color: #F99D07;
  --main-brown-color: #4C1505;
}

* {
  margin: 0;
  padding: 0;
}

html, body, a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* h1 {
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 10px;
} */

img#logo {
  width: 15%;
  margin-bottom: 10px;
}

p#player-time {
  font-size: 16pt;
  font-weight: bold;
}

.text-default-purple {
  color: var(--main-purple-color);
}
.text-default-orange {
  color: var(--main-orange-color);
}

.square {
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid var(--main-brown-color);
  border-radius: 10px;
  display: inline-block;
}

@media (max-width: 480px) {
  /* Estilos para dispositivos móveis */
  img#logo {
    width: 50%;
  }

  .square {
    width: 80px;
    height: 80px;
  }

  .o::after {
    font-size: 80px;
    line-height: 80px;
  }

  .x::after {
    font-size: 80px;
    line-height: 80px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Estilos para tablets */
  img#logo {
    width: 45%;
  }

  .square {
    width: 140px;
    height: 140px;
  }

  .o::after {
    font-size: 140px;
    line-height: 140px;
  }

  .x::after {
    font-size: 140px;
    line-height: 140px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para desktops pequenos */
  img#logo {
    width: 25%;
  }

  .square {
    width: 110px;
    height: 110px;
  }

  .o::after {
    font-size: 110px;
    line-height: 110px;
  }

  .x::after {
    font-size: 110px;
    line-height: 110px;
  }
}

@media (min-width: 1025px) {
  /* Estilos para desktops médios e grandes */
  .square {
    width: 150px;
    height: 150px;
  }

  .o::after {
    font-size: 150px;
    line-height: 150px;
  }

  .x::after {
    font-size: 150px;
    line-height: 150px;
  }
}


.o {
  position: relative;
}

.o::after {
  position: absolute;
  content: "O";
  color: var(--main-purple-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x {
  position: relative;
}

.x::after {
  position: absolute;
  content: "X";
  color: var(--main-orange-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}