* {
  margin: 0;
  padding: 0;
}

html, body, a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: url('../img/tic-tac-toe.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* h1 {
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 10px;
} */

img#logo {
  width: 15%;
  margin-bottom: 10px;
}

.square {
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid gray;
  border-radius: 10px;
  display: inline-block;
}

@media (max-width: 480px) {
  /* Estilos para dispositivos móveis */
  img#logo {
    width: 50%;
  }

  .square {
    width: 100px;
    height: 100px;
  }

  .o::after {
    font-size: 50px;
    line-height: 100px;
  }

  .x::after {
    font-size: 50px;
    line-height: 100px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Estilos para tablets */
  img#logo {
    width: 45%;
  }

  .square {
    width: 140px;
    height: 140px;
  }

  .o::after {
    font-size: 70px;
    line-height: 140px;
  }

  .x::after {
    font-size: 70px;
    line-height: 140px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para desktops pequenos */
  img#logo {
    width: 25%;
  }

  .square {
    width: 200px;
    height: 200px;
  }

  .o::after {
    font-size: 100px;
    line-height: 200px;
  }

  .x::after {
    font-size: 100px;
    line-height: 200px;
  }
}

@media (min-width: 1025px) {
  /* Estilos para desktops médios e grandes */
  .square {
    width: 210px;
    height: 210px;
  }

  .o::after {
    font-size: 105px;
    line-height: 210px;
  }

  .x::after {
    font-size: 105px;
    line-height: 210px;
  }
}


.o {
  position: relative;
}

.o::after {
  position: absolute;
  content: "\2764";
  color: #882FF6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x {
  position: relative;
}

.x::after {
  position: absolute;
  content: "\1F4A3";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}